<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web app</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />

    <link rel ='stylesheet' href= 'css/style.css'>
    <!-- Latest compiled and minified CSS -->
</head>
<body>
    <div class = 'container-fluid main_menu'>
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               {{>nav}}
            </div>
        </div>
    </div>
    
        <div class = 'container-fluid main_header'>
            <div class="row">
                <div class="col-md-6 col-12 main_header_right pl-5 "> 
                    
                    <img class="d-block ml-3 " style="height:34rem; " src="images/man.png" alt="First slide"/>

                </div>
                <div class="col-md-6 col-12 main_header_left">
                <p>Hi,</p>
                <h1 class="ml-5">I am  <span style = "color: #0097e6;">MERN STACK</span> Developer. </h1>
                <a class = "button ml-5" href='https://www.linkedin.com/in/gautam-agarwal-b9181818a'>Contact me</a>
                        </div>
                       
                
                      </div>
                      </div>
    </div>
    </div>

 {{>footer}}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
    